
@font-face {
  font-family: 'CorradineHandwriting';
  src: url('CorradineHandwriting.eot?#iefix') format('embedded-opentype'),  url('CorradineHandwriting.otf')  format('opentype'),
	     url('CorradineHandwriting.woff') format('woff'), url('CorradineHandwriting.ttf')  format('truetype'), url('CorradineHandwriting.svg#CorradineHandwriting') format('svg');
  font-weight: normal;
  font-style: normal;
}
