
@font-face {
  font-family: 'BentonSans-Black';
  src: url('BentonSans-Black.eot?#iefix') format('embedded-opentype'),  url('BentonSans-Black.otf')  format('opentype'),
	     url('BentonSans-Black.woff') format('woff'), url('BentonSans-Black.ttf')  format('truetype'), url('BentonSans-Black.svg#BentonSans-Black') format('svg');
  font-weight: normal;
  font-style: normal;
}
